<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="hero-unit">
          <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>